*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    background-color: #000;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('image/5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:100%;
    
    
}

.watch{
    
    color: white;
    font-size: 60px;
    font-family: "Trirong", serif;
    
    
}

@keyframes shine{
    0% ,100%{
        box-shadow: 0px 0px 32px -12px rgba(246, 180, 0, .5);
    }

50%{
        box-shadow: 0px 0px 32px -12px rgba(246, 0, 0, .5);
    }

}


button{
    width: 200px;
    padding: 10px;
    border: none;
    margin: 30px;
    cursor: pointer;
    border-radius: 50px;
    
    
}

button:hover{
    background-color: rgba(50,50,50);
    color: white;
    transition: 1s;
}

@media only screen and (min-width:480px){
    button{
        align-items:center;
        backround-color:red;
    }
}
